<!DOCTYPE html>
<html>
<head>
	<title>Exercise Tracker</title>

	<link rel="stylesheet" type="text/css" href="/assets/css/app.css">
</head>
<body>
	<h1>Exercise Tracker</h1>

	<div id="app">
		<div>
			<h2>Create a New User</h2>
			<form @submit="createNewUser">
				<input type="text" name="new-username" v-model="newUsername">
				<input type="submit" value="Save">
			</form>
		</div>

		<div v-if="response">
			<p>${ response }</p>
		</div>
		
		<div>
			<button @click="toggleUsers">Toggle Users</button>
			<div v-if="displayUsers">
				<ul>
					<li v-for="user in users">
						#${ user._id } - ${ user.username }
					</li>
				</ul>
			</div>
		</div>

		<div>
			<h2>Log a New Exercise</h2>
			<form @submit="createNewExercise">
				<div>
					<input type="text" v-model="newExercise.userId" placeholder="User ID" required>
				</div>
				<div>
					<textarea v-model="newExercise.description" placeholder="Description" required></textarea>			
				</div>
				<div>
					<input type="number" v-model.number="newExercise.duration" placeholder="Duration" required>
				</div>
				<div>
					<input type="text" v-model="newExercise.date" placeholder="Date">
				</div>

				<div>
					<input type="submit" value="Post">
				</div>
			</form>
		</div>
	</div>
	
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script type="text/javascript" src="/assets/js/app.js"></script>
</body>
</html>